
html{display: block;
width: 100%;
}

body{text-align: center;
    font-family: "Merriweather Sans", serif; font-weight: 350;
    margin: 0%;
    
}
.top-container{
    background-color: #e4f9f5;
    position: relative; 
    
    
   }

.top-cloud{
    position: absolute;
    right: 250px;
    top: 40px;
    height: 150px;

}


h1{
    color: #66bfbf;; 
    font-size: 5.625rem;
    padding-top: 250px;
    margin-top: 0;
    font-family: Sacramento, cursive;
     
}


h2{
    color: #66bfbf;
    font-family: montserrat, san-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin: 50px 0px 50px;
}

.Dev{text-decoration: underline;}

.bottom-cloud{ 
    position: absolute;
    height: 150px;
    left: 250px;


}
.Dev-Computer{
    position: relative;
    height: 400px;
    padding-top: 150px;
    padding-bottom: 0px;

}

.middle-container{ margin: 100px 0;


}

.author{margin-top: px;}

.Hello{font-weight: 600;}
.bio{
     
    width: 40%;
    margin: auto;
   text-align: center;
   font-size: 1rem;
}

hr{ 
   border: dotted; 
   border-color: #98aaaa; 
   width: 4%;
   margin: 100px auto;
}

.skill {font-size: 20rem;}

.coding { 
    height: 50px; 
    width: 50px;}

.parent {display: grid;
grid-template-columns: 0.5fr 1fr;
grid-template-rows: 0.5fr 1fr;
row-gap: 20px;
column-gap: 5px;
width: 50%;
text-align: left;
margin: 100px auto auto
}

p {display: block;
   unicode-bidi: isolate;
   margin-left: 50px;
   margin-top: 0px;
   line-height:2;
}

h3 {
    font-family: montserrat;
    color: #11999e;
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height:2;
    font-size: 1.4rem;
}





h4 {font-family: montserrat;
    font-weight: 600;
    color: #11999e;
    font-size: 1.1rem;
    margin: 50px 0px;
   
    

}

.contact { 
    width: 50%;
    margin: auto;
    margin-bottom: 70px;
   
    
}

.btn{ 
    background-color: #11cdd4;
    padding: 10px 20px 10px 20px;
    margin-top: 200px;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e );
    color: #e4f9f5;
    text-decoration: none;
    border-radius: 8px;
    font-family: meriweather;
    font-size: 1.3rem;
    
}
.bottom-container {
    margin-top: 70px;
    background-color: #66bfbf;
    padding: 50px 0px 20px;
}


.footerlink{
    padding: 20px; 
    padding-bottom: 0px;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    font-size: 1.2rem;
}


.copyright{
    margin-left: 0px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 1rem;
    
}

@media (max-width: 650px) {
    
    *{width: 100%;}
    .copyright{font-size: 0.9rem;}
}

   


